<div>
  <md-content class="md-whiteframe-z1" layout="column" flex layout-fill>
    <md-list>
      <md-list-item ng-repeat="entity in ctrl.pagedEntities.results">
        <div style="width: 100%;">
          <md-icon class="material-icons"
                   ng-click="ctrl.deleteEntity($event, entity)"
                   ng-if="ctrl.$rootScope.user.permissions.delete_hadith">close
          </md-icon>
          <span>
        <a ng-href="#/hadith/{{ entity.id }}">
        {{ entity.text | limitTo:500 }}
        </a>
        </span>
          <span>
          <hh-selector ids="entity.tags"
                       click-callback="ctrl.onHadithTagClicked(entity)"
                       type="hadithtag"
                       read-only="true"
                       single-select="false"
                       text-only="false"
                       clickable="true"></hh-selector>
        </span>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
  <md-input-container ng-if="ctrl.getPageCount() > 1">
    <label>Page</label>
    <md-select ng-model="ctrl.page">
      <md-option ng-value="i"
                 ng-repeat="i in ctrl.range(ctrl.getPageCount())">{{ i }}/{{ ctrl.getPageCount()}}</md-option>
    </md-select>
  </md-input-container>
</div>
