<div class="container">
  <div ng-repeat="entity in ctrl.pagedEntities.results">
    <button type="button"
            class="btn btn-danger btn-sm"
            ng-click="ctrl.showDeleteDialog(entity)"
            ng-if="ctrl.$rootScope.user.permissions.delete_hadith">
      X
    </button>
    <a ng-href="/hadith/{{ entity.id }}">
      {{ entity.text | limitTo:500 }}
    </a>

    <span ng-repeat="tagId in entity.tags">
      <hh-entity entity-id="{{ tagId }}" type="hadithtag" mode="clickable-badge"></hh-entity>
    </span>

    <hr/>
  </div>
  <nav aria-label="Page navigation" ng-if="ctrl.getPageCount() > 1">
    <ul class="pagination">
      <li class="page-item" ng-class="ctrl.isFirstPage() ? 'disabled' : ''">
        <a class="page-link" href="#" ng-click="ctrl.setPage(ctrl.page - 1)">Previous</a>
      </li>
      <li class="page-item" ng-class="ctrl.page === i ? 'active' : ''" ng-repeat="i in ctrl.pageRange()">
        <a class="page-link" href="#" ng-click="ctrl.setPage(i)">{{ i }}</a>
      </li>
      <li class="page-item" ng-class="ctrl.isLastPage() ? 'disabled' : ''">
        <a class="page-link" href="#" ng-click="ctrl.setPage(ctrl.page + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
