<span class="hh-selector" style="display: inline-block;">
  <span ng-if="ctrl.textOnly !== 'true'">
    <md-chips ng-model="ctrl.entities" readonly="ctrl.readOnly"
              md-autocomplete-snap
              md-require-match="true">
      <md-autocomplete
          md-selected-item="ctrl.selectedTag"
          md-selected-item-change=""
          md-search-text="ctrl.query"
          md-search-text-change=""
          md-items="entity in ctrl.findEntities(ctrl.query)"
          md-item-text="ctrl.entityToString(entity)"
          placeholder="Search for a {{ ctrl.type }}">
        <md-item-template>
          <span md-highlight-text="ctrl.query">{{ ctrl.entityToString(entity) }}</span>
        </md-item-template>
        <md-not-found>
          No matches found for "{{ ctrl.query }}".
        </md-not-found>
      </md-autocomplete>
      <md-chip-template>
        <span ng-if="ctrl.clickable !== 'true' || !ctrl.readOnly">
          {{ ctrl.entityToString($chip) }}
        </span>
        <a href="" ng-click="ctrl.onClick($chip)" ng-if="ctrl.clickable === 'true' && ctrl.readOnly">
          {{ ctrl.entityToString($chip) }}
        </a>
      </md-chip-template>
    </md-chips>
  </span>
  <!-- TODO: text-only mode supports only one element at the moment. -->
  <span ng-if="ctrl.textOnly === 'true'">
    <span ng-if="ctrl.clickable !== 'true'" ng-repeat="entity in ctrl.entities">
      {{ ctrl.entityToString(entity) }}
    </span>
    <a href="" ng-click="ctrl.onClick(entity)" ng-if="ctrl.clickable ==='true'" ng-repeat="entity in ctrl.entities">
      {{ ctrl.entityToString(entity) }}
    </a>
  </span>
</span>
