<div class="hh-tags-input form-control">
  <span class="hh-tags-input-tags" ng-repeat="l in ctrl.entities">
    <span class="badge badge-primary">
      {{ l.toString() }}
      <span class="btn-sm fa fa-times" ng-click="ctrl.deleteEntity($index)" aria-hidden="true" style="cursor: pointer;">

      </span>
    </span>
  </span>
  <span class="hh-tags-input-input">
    <input type="text" ng-model="ctrl.text" ng-keypress="ctrl.onKey($event)" ng-keydown="ctrl.onKey($event)"/>
    <span class="dropdown-menu">
      <a class="dropdown-item" ng-repeat="e in ctrl.autoCompleteEntries" href="#" ng-click="ctrl.addEntity(e)">{{ e.toString() }}</a>
    </span>
  </span>
</div>