# Database settings file which contains credentials, which shouldn't be uploaded
# to git.
HadithHouseWebsite/database_settings.py
HadithHouseWebsite/server_settings.py

# Django's files generated using collectstatic command.
static/

# PyCharm files
/.idea/workspace.xml
/.idea/libraries

# Python cache files.
__pycache__
*.pyc
