<md-dialog aria-label="Add New Hadith">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ ctrl.isSaveMode() ? 'Update Tag' : 'Add New Tag' }}</h2>
        <span flex></span>
        <!-- TODO: Download icons -->
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;">

      <md-input-container flex>
        <label>Tag Name</label>
        <input ng-model="ctrl.tag.name"/>
      </md-input-container>

    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-click="ctrl.cancel()">
        Cancel
      </md-button>
      <md-button ng-click="ctrl.add()" style="margin-right:20px;">
        {{ ctrl.isSaveMode() ? 'Save' : 'Add' }}
      </md-button>
    </div>
  </form>
</md-dialog>