{% load static %}

<!DOCTYPE html>
<html dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <!-- TODO: Is it OK to keep Google Site verification meta-data? -->
  <meta name="google-site-verification" content="GrYjmJUBaIei8LmgWjl-YTJNa-vdtr0rcDGBI58mN2U"/>

  <title>Hadith House</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- jQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css">
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>

  <!-- Lo-Dash -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.0/lodash.min.js"></script>

  <!-- MomentJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>


</head>
<body layout="column" ng-controller="HadithHouseCtrl as ctrl">

<!-- Facebook Authentication -->
<script>
  var fbApiInit = false;
  var fbAccessToken = null;
  var fbFetchedLoginStatus = false;

  window.fbAsyncInit = function () {
    FB.init({
      appId: '{{ appId }}',
      xfbml: true,
      version: 'v2.4'
    });

    fbApiInit = true;

    FB.getLoginStatus(function (response) {
      fbFetchedLoginStatus = true;
      if (response.status === 'connected') {
        // The user is logged in to Facebook and has authenticated
        // the application.
        fbAccessToken = response.authResponse.accessToken;
      } else if (response.status === 'not_authorized') {
        // The user is logged in to Facebook, but has not authenticated
        // the application.
        fbAccessToken = null;
      } else {
        // The user isn't logged in to Facebook.
        fbAccessToken = null;
      }

      angular.bootstrap(document.body, ['HadithHouseApp']);
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="ctrl.toggleSideNav('left')" hide-gt-sm class="md-icon-button">
      <!-- TODO: Use an icon from Angular Material rather than the hardcoded link. -->
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    <h1><a ng-href="#/" style="text-decoration: none; color: white;">Hadith House</a></h1>

    <span flex></span>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="US33JTX5B3478">
      <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0"
             name="submit" alt="PayPal - The safer, easier way to pay online.">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>

    <span flex></span>

    <md-button ng-if="fetchedLoginStatus && fbUser === null"
               ng-click="ctrl.fbLogin()">
      Login with Facebook
    </md-button>

    {% verbatim %}
    <div ng-if="fetchedLoginStatus && fbUser !== null">
      <md-menu>
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="User Menu">
          <img ng-if="fbUser.profilePicUrl" ng-src="{{ fbUser.profilePicUrl }}" style="position: relative; left: -10px; top: -10px;"/>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-href="{{ fbUser.link }}">Facebook Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="ctrl.fbLogout()">Logout</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    {% endverbatim %}
  </div>
</md-toolbar>

{% verbatim %}
<div layout="row" flex>
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">

    <md-list>
      <md-list-item ng-repeat="item in ctrl.menuItems">
        <md-button ng-click="ctrl.selectMenuItem(item)" ng-class="{'selected' : item === ctrl.selected }">
          {{ item.name }}
        </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-content flex layout="column" id="content">
      <div layout="column" style="height: 10px;">
        <md-progress-linear md-mode="indeterminate" ng-show="pendingRequests > 0"></md-progress-linear>
      </div>
      <md-content flex layout="column" ng-view></md-content>
    </md-content>
  </div>
</div>

{% endverbatim %}

<script>
  function getHtmlBasePath() {
    return '{% static 'hadiths/html' %}/';
  }

  function getApiUrl() {
    return '/apis/';
  }
</script>
<link rel="stylesheet" href="{% static 'hadiths/css/styles.css' %}">

<script src="{% static 'hadiths/js/app.js' %}"></script>

<!-- Services -->
<script src="{% static 'hadiths/js/services/facebook.service.js' %}"></script>
<script src="{% static 'hadiths/js/services/services.js' %}"></script>
<script src="{% static 'hadiths/js/services/toast.service.js' %}"></script>
<script src="{% static 'hadiths/js/caching/cache.js' %}"></script>
<script src="{% static 'hadiths/js/resources/resources.js' %}"></script>

<!-- Controllers -->
<script src="{% static 'hadiths/js/controllers/entity-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/entity-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/book-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/book-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadith-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadith-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadithtag-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadithtag-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/home-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/person-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/person-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/user-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/user-listing-page.js' %}"></script>

<!-- Directives -->
<script src="{% static 'hadiths/js/directives/selector.directive.js' %}"></script>
<script src="{% static 'hadiths/js/directives/tree.directive.js' %}"></script>


</body>
</html>
