{% load static %}

<!DOCTYPE html>
<html dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <!-- TODO: Is it OK to keep Google Site verification meta-data? -->
  <meta name="google-site-verification" content="GrYjmJUBaIei8LmgWjl-YTJNa-vdtr0rcDGBI58mN2U"/>

  <title>Hadith House</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'hadiths/3rdparty-cache/googleapis-fonts-materialicons.css' %}">

  <!-- jQuery-->
  <script src="{% static 'hadiths/3rdparty-cache/jquery.min.js' %}"></script>

  <!-- Angular -->
  <script src="{% static 'hadiths/3rdparty-cache/angular.min.js' %}"></script>
  <script src="{% static 'hadiths/3rdparty-cache/angular-route.min.js' %}"></script>
  <script src="{% static 'hadiths/3rdparty-cache/angular-animate.min.js' %}"></script>
  <script src="{% static 'hadiths/3rdparty-cache/angular-aria.min.js' %}"></script>
  <script src="{% static 'hadiths/3rdparty-cache/angular-resource.min.js' %}"></script>
  <script src="{% static 'hadiths/3rdparty-cache/angular-material.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'hadiths/3rdparty-cache/angular-material.min.css' %}">
  <script src="{% static 'hadiths/3rdparty-cache/angular-material-icons.min.js' %}"></script>

  <!-- Lo-Dash -->
  <script src="{% static 'hadiths/3rdparty-cache/lodash.min.js' %}"></script>

  <!-- MomentJS -->
  <script src="{% static 'hadiths/3rdparty-cache/moment.min.js' %}"></script>

  <!-- D3.js -->
  <script src="{% static 'hadiths/3rdparty-cache/d3.min.js' %}"></script>

</head>
<body layout="column" ng-app="HadithHouseApp" ng-controller="HadithHouseCtrl as ctrl">

<!-- Facebook Authentication -->
<script>
  var fbApiInit = true;
  var fbAccessToken = 'any';
  var fbFetchedLoginStatus = true;
</script>

<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="ctrl.toggleSideNav('left')" hide-gt-sm class="md-icon-button">
      <!-- TODO: Use an icon from Angular Material rather than the hardcoded link. -->
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    <h1><a ng-href="#/" style="text-decoration: none; color: white;">Hadith House</a></h1>

    <span flex></span>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="US33JTX5B3478">
      <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0"
             name="submit" alt="PayPal – The safer, easier way to pay online.">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>

    <span flex></span>

    <md-button ng-if="fetchedLoginStatus && fbUser === null"
               ng-click="ctrl.fbLogin()">
      Login with Facebook
    </md-button>

    {% verbatim %}
    <div ng-if="fetchedLoginStatus && fbUser !== null">
      <md-menu>
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="User Menu">
          <img ng-if="fbUser.profilePicUrl" ng-src="{{ fbUser.profilePicUrl }}" style="position: relative; left: -10px; top: -10px;"/>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-href="{{ fbUser.link }}">Facebook Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="ctrl.fbLogout()">Logout</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    {% endverbatim %}
  </div>
</md-toolbar>

{% verbatim %}
<div layout="row" flex>
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')">

    <md-list>
      <md-list-item ng-repeat="item in ctrl.menuItems">
        <md-button ng-click="ctrl.selectMenuItem(item)" ng-class="{'selected' : item === ctrl.selected }">
          {{ item.name }}
        </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-content flex layout="column" id="content">
      <div layout="column" style="height: 10px;">
        <md-progress-linear md-mode="indeterminate" ng-show="pendingRequests > 0"></md-progress-linear>
      </div>
      <md-content flex layout="column" ng-view></md-content>
    </md-content>
  </div>
</div>

{% endverbatim %}

<script>
  function getHtmlBasePath() {
    return '{% static 'hadiths/html' %}/';
  }

  function getApiUrl() {
    return '/apis/';
  }
</script>
<link rel="stylesheet" href="{% static 'hadiths/css/styles.css' %}">

<script src="{% static 'hadiths/js/app.js' %}"></script>

<!-- Services -->
<script src="{% static 'hadiths/js/services/facebook.offline.service.js' %}"></script>
<script src="{% static 'hadiths/js/services/services.js' %}"></script>
<script src="{% static 'hadiths/js/services/toast.service.js' %}"></script>
<script src="{% static 'hadiths/js/caching/cache.js' %}"></script>
<script src="{% static 'hadiths/js/resources/resources.js' %}"></script>


<!-- Controllers -->
<script src="{% static 'hadiths/js/controllers/entity-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/entity-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/book-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/book-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadith-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadith-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadithtag-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/hadithtag-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/home-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/person-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/person-listing-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/user-page.js' %}"></script>
<script src="{% static 'hadiths/js/controllers/user-listing-page.js' %}"></script>

<!-- Directives -->
<script src="{% static 'hadiths/js/directives/selector.directive.js' %}"></script>
<script src="{% static 'hadiths/js/directives/tree.directive.js' %}"></script>


</body>
</html>
