<!--
<div ng-include="'/static/hadiths/html/entity-listing-header.html'"></div>
-->

<div ng-repeat="entity in ctrl.pagedEntities.results">
  <button type="button"
          class="btn btn-danger btn-sm"
          ng-click="ctrl.deleteEntity($event, entity)"
          ng-if="ctrl.$rootScope.user.permissions.delete_book">
    X
  </button>
  <a ng-href="/book/{{ entity.id }}">
    {{ entity.title }}
  </a>
  <hr/>
</div>

<div>
  <a class="btn btn-primary" ng-href="/book/new" ng-if="ctrl.$rootScope.user.permissions.add_book">
    Add
  </a>
</div>

<!--
<div ng-include="'/static/hadiths/html/entity-listing-footer.html'"></div>
-->
