<div ng-if="ctrl.error">
  Couldn't load book or the book is not found.
</div>
<md-content ng-if="!ctrl.error" layout="column" flex layout-fill>
  <h1>
    {{ ctrl.entity.title }}
    <md-icon class="material-icons"
             ng-click="ctrl.startEditing()"
             ng-hide="ctrl.isEditing"
             ng-if="ctrl.$rootScope.user.permissions.change_book">edit
    </md-icon>
    <md-icon class="material-icons"
             ng-click="ctrl.cancelEditing()"
             ng-hide="!ctrl.isEditing || ctrl.isAddingNew"
             ng-if="ctrl.$rootScope.user.permissions.change_book">cancel
    </md-icon>
    <md-icon class="material-icons"
             ng-click="ctrl.finishEditing()"
             ng-hide="!ctrl.isEditing"
             ng-if="ctrl.$rootScope.user.permissions.change_book">save
    </md-icon>
  </h1>

  <div layout layout-sm="column">
  <md-input-container flex>
    <label>Title</label>
    <input ng-model="ctrl.entity.title" ng-disabled="!ctrl.isEditing"/>
  </md-input-container>
  </div>

  <div layout layout-sm="column">
  <md-input-container flex>
    <label>Brief Description</label>
    <textarea ng-model="ctrl.entity.brief_desc" ng-disabled="!ctrl.isEditing"></textarea>
  </md-input-container>
  </div>

  <div layout layout-sm="column">
  <md-input-container flex>
    <label>Publication Year</label>
    <input ng-model="ctrl.entity.pub_year" ng-disabled="!ctrl.isEditing"/>
  </md-input-container>
  </div>
</md-content>
<div ng-if="!ctrl.error" ng-include="'/static/hadiths/html/entity-footer.html'"></div>
