<div ng-if="ctrl.entity.id">
  Added on {{ ctrl.entity.added_on }}
  <span ng-if="ctrl.entity.added_by">
    by <hh-entity entity-id="{{ ctrl.entity.added_by }}" type="user" ng-if="ctrl.entity.added_by" mode="link"></hh-entity>
  </span>
</div>
<div ng-if="ctrl.entity.id && ctrl.entity.updated_on !== ctrl.entity.added_on">
  Last updated on {{ ctrl.entity.updated_on }}
  <span ng-if="ctrl.entity.updated_by">
    by <hh-entity entity-id="{{ ctrl.entity.updated_by }}" type="user" ng-if="ctrl.entity.updated_by" mode="link"></hh-entity>
  </span>
</div>
