<div ng-if="ctrl.error">
  Couldn't load hadith or the hadith is not found. Error was: {{ ctrl.error }}
</div>


<div class="container" ng-if="!ctrl.error">
  <h2>
    Hadith {{ ctrl.entity.id }}
    <button class="btn btn-secondary btn-sm fa fa-pencil" aria-hidden="true"
            ng-click="ctrl.startEditing()"
            ng-hide="ctrl.isEditing"
            ng-if="ctrl.$rootScope.user.permissions.change_person"></button>

    <button class="btn btn-secondary btn-sm fa fa-times" aria-hidden="true"
            ng-click="ctrl.cancelEditing()"
            ng-hide="!ctrl.isEditing || ctrl.isAddingNew"
            ng-if="ctrl.$rootScope.user.permissions.change_person"></button>

    <button class="btn btn-secondary btn-sm fa fa-floppy-o" aria-hidden="true"
            ng-click="ctrl.finishEditing()"
            ng-hide="!ctrl.isEditing"
            ng-if="ctrl.$rootScope.user.permissions.change_person"></button>
  </h2>

  <form>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="text">Text</label>
        <textarea id="text" class="form-control" rows="10" ng-model="ctrl.entity.text" ng-disabled="!ctrl.isEditing">
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Person</label>
        <div ng-show="!ctrl.isEditing">
          <hh-entity entity-id="{{ ctrl.entity.person }}" type="person" mode="clickable-badge"></hh-entity>
        </div>
        <hh-tags-input entities="ctrl.personExpanded" type="person" selection-mode="single" ng-show="ctrl.isEditing"></hh-tags-input>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Book</label>
        <div ng-show="!ctrl.isEditing">
          <hh-entity entity-id="{{ ctrl.entity.book }}" type="book" mode="clickable-badge"></hh-entity>
        </div>
        <hh-tags-input entities="ctrl.bookExpanded" type="book" selection-mode="single" ng-show="ctrl.isEditing"></hh-tags-input>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Tags</label>
        <div ng-show="!ctrl.isEditing">
          <hh-entity ng-repeat="tagId in ctrl.entity.tags" entity-id="{{ tagId }}" type="hadithtag" mode="clickable-badge"></hh-entity>
        </div>
        <hh-tags-input entities="ctrl.tagsExpanded" type="hadithtag" ng-show="ctrl.isEditing"></hh-tags-input>
      </div>
    </div>
  </form>
</div>

<div class="container" ng-if="!ctrl.error" layout="column" flex layout-fill>
  <label>
    Chains
    <button class="btn btn-secondary fa fa-plus"
             ng-click="ctrl.addNewChain()"
             ng-if="ctrl.$rootScope.user.permissions.add_chain">
    </button>
  </label>
  <div>
    <table>
      <tr ng-repeat="chain in ctrl.pagedChains.results">
        <td>
          Chain {{ $index + 1 }}:
        </td>
        <td>
          <span ng-show="!chain.isEditing">
            <hh-entity ng-repeat="personId in chain.persons" entity-id="{{ personId }}" type="person" mode="clickable-badge"></hh-entity>
          </span>
          <hh-tags-input entities="chain.personsExpanded" type="person" ng-show="chain.isEditing" clickable="true"></hh-tags-input>
        </td>
        <td style="width: 150px;">

          <button class="btn btn-secondary fa fa-pencil"
                   ng-click="ctrl.startChainEditing(chain)"
                   ng-hide="chain.isEditing"
                   ng-if="ctrl.$rootScope.user.permissions.change_chain">
          </button>
          <button class="btn btn-secondary fa fa-times"
                   ng-click="ctrl.showDeleteChainDialog(chain)"
                   ng-hide="chain.isEditing"
                   ng-if="ctrl.$rootScope.user.permissions.delete_chain">
          </button>
          <button class="btn btn-secondary fa fa-times"
                   ng-click="ctrl.cancelChainEditing(chain)"
                   ng-hide="!chain.isEditing || ctrl.isAddingNew"
                   ng-if="ctrl.$rootScope.user.permissions.change_chain">
          </button>
          <button class="btn btn-secondary fa fa-floppy-o"
                   ng-click="ctrl.saveChain(chain)"
                   ng-hide="!chain.isEditing"
                   ng-if="ctrl.$rootScope.user.permissions.change_hadith">
          </button>
        </td>
      </tr>
    </table>
  </div>
  <hh-tree root="ctrl.rootNode" width="1500" height="600"
           ng-if="ctrl.rootNode !== null"
           style="background-color: rgb(240, 240, 240); width: 800px; height: 600px; margin-top: 10px; overflow-x: auto;">

  </hh-tree>
</div>

<!-- Delete Confirmation Dialog -->
<div class="modal fade" id="deleteChainConfirmDialog" tabindex="-1" role="dialog" aria-labelledby="deleteChainConfirmDialogLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteChainConfirmDialogLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the chain? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.deleteChain()">Yes</button>
      </div>
    </div>
  </div>
</div>
<div ng-if="!ctrl.error" ng-include="'/static/hadiths/html/entity-footer.html'"></div>
