<div ng-if="ctrl.error">
  Couldn't load hadith or the hadith is not found. Error was: {{ ctrl.error }}
</div>


<div class="container" ng-if="!ctrl.error">
  <h2>
    Hadith {{ ctrl.entity.id }}
    <button class="btn btn-secondary btn-sm fa fa-pencil" aria-hidden="true"
            ng-click="ctrl.startEditing()"
            ng-hide="ctrl.isEditing"
            ng-if="ctrl.$rootScope.user.permissions.change_person"></button>

    <button class="btn btn-secondary btn-sm fa fa-times" aria-hidden="true"
            ng-click="ctrl.cancelEditing()"
            ng-hide="!ctrl.isEditing || ctrl.isAddingNew"
            ng-if="ctrl.$rootScope.user.permissions.change_person"></button>

    <button class="btn btn-secondary btn-sm fa fa-floppy-o" aria-hidden="true"
            ng-click="ctrl.finishEditing()"
            ng-hide="!ctrl.isEditing"
            ng-if="ctrl.$rootScope.user.permissions.change_person"></button>
  </h2>

  <form>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="text">Text</label>
        <textarea id="text" class="form-control" ng-model="ctrl.entity.text" ng-disabled="!ctrl.isEditing">
        </textarea>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Person</label>
        <div>
          <hh-entity entity-id="{{ ctrl.entity.person }}" type="person" clickable="true"></hh-entity>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Book</label>
        <div>
          <hh-entity entity-id="{{ ctrl.entity.book }}" type="book" clickable="true"></hh-entity>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <label>Tags</label>
        <div ng-repeat="tagId in ctrl.entity.tags">
          <hh-entity entity-id="{{ tagId }}" type="hadithtag" clickable="true"></hh-entity>
        </div>
      </div>
    </div>
  </form>
</div>


<!--
FIXME: Use Bootstrap for chains.
<md-content ng-if="!ctrl.error" layout="column" flex layout-fill>
  <label>
    Chains
    <md-icon class="material-icons"
             ng-click="ctrl.addNewChain()"
             ng-if="ctrl.$rootScope.user.permissions.add_chain">add
    </md-icon>
  </label>
  <div>
    <table>
      <tr ng-repeat="chain in ctrl.pagedChains.results">
        <td>
          <hh-selector ids="chain.persons" type="person" read-only="!chain.isEditing" clickable="true"></hh-selector>
        </td>
        <td style="width: 70px;">
          <md-icon class="material-icons"
                   ng-click="ctrl.startChainEditing(chain)"
                   ng-hide="chain.isEditing"
                   ng-if="ctrl.$rootScope.user.permissions.change_chain">edit
          </md-icon>
          <md-icon class="material-icons"
                   ng-click="ctrl.deleteChain($event, chain)"
                   ng-hide="chain.isEditing"
                   ng-if="ctrl.$rootScope.user.permissions.delete_chain">close
          </md-icon>
          <md-icon class="material-icons"
                   ng-click="ctrl.cancelChainEditing(chain)"
                   ng-hide="!chain.isEditing || ctrl.isAddingNew"
                   ng-if="ctrl.$rootScope.user.permissions.change_chain">cancel
          </md-icon>
          <md-icon class="material-icons"
                   ng-click="ctrl.saveChain(chain)"
                   ng-hide="!chain.isEditing"
                   ng-if="ctrl.$rootScope.user.permissions.change_hadith">save
          </md-icon>
        </td>
      </tr>
    </table>
  </div>
  <hh-tree root="ctrl.rootNode" width="1500" height="600"
           ng-if="ctrl.rootNode !== null"
           style="background-color: rgb(240, 240, 240); width: 800px; height: 600px; margin-top: 10px; overflow-x: auto;">

  </hh-tree>
</md-content>
-->
<div ng-if="!ctrl.error" ng-include="'/static/hadiths/html/entity-footer.html'"></div>
