<div ng-include="'/static/hadiths/html/entity-listing-header.html'"></div>
<div class="md-whiteframe-z1">

  <md-list>
    <md-list-item ng-repeat="entity in ctrl.pagedEntities.results">
      <div style="width: 100%;">
        <md-icon class="material-icons"
                 ng-click="ctrl.deleteEntity($event, entity)"
                 ng-if="ctrl.$rootScope.user.permissions.delete_hadithtag">close
        </md-icon>
        <a ng-href="#/hadithtag/{{ entity.id }}">
          {{ entity.name }}
        </a>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</div>

<md-button class="md-fab md-mini"
           ng-href="#/hadithtag/new"
           ng-if="ctrl.$rootScope.user.permissions.add_hadithtag">
  <md-icon class="material-icons">add</md-icon>
</md-button>

<div ng-include="'/static/hadiths/html/entity-listing-footer.html'"></div>
