<div class="md-whiteframe-z1">

  <md-list>
    <md-list-item ng-repeat="person in ctrl.persons">
      <div style="width: 100%;">
        <md-icon class="material-icons"
                 ng-click="ctrl.deletePerson($event, person)"
                 ng-if="ctrl.user.permissions.can_delete_persons">close
        </md-icon>
        <a ng-href="#/person/{{ person.id }}">
          {{ person.display_name || person.full_name }}
        </a>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</div>

<md-button class="md-fab md-mini"
           ng-href="#/person/new"
           ng-if="ctrl.user.permissions.can_add_persons">
  <md-icon class="material-icons">add</md-icon>
</md-button>

