<div ng-if="ctrl.error">
  Couldn't load user or the user is not found.
</div>
<div class="container" ng-if="!ctrl.error">
  <h2>
    {{ ctrl.entity.first_name }} {{ ctrl.entity.last_name }}
  </h2>

  <table class="table">
    <tr>
      <td>Username</td>
      <td>{{ ctrl.entity.username }}</td>
    </tr>
    <tr>
      <td>Date Joined</td>
      <td>{{ ctrl.entity.date_joined }}</td>
    </tr>
    <tr>
      <td>Super User</td>
      <td>{{ ctrl.entity.is_superuser ? 'True' : 'False' }}</td>
    </tr>
    <tr>
      <td>Staff User</td>
      <td>{{ ctrl.entity.is_staff ? 'True' : 'False' }}</td>
    </tr>
    <tr>
      <td>Permissions</td>
      <td>
        <div ng-repeat="group in ctrl.permissionGroups">
          <div><b>{{ ctrl.permissionsNameMap[group] }}:</b></div>
          <div>
              <span ng-repeat="permission in ctrl.permissions[group]">
                <span class="badge badge-info">{{ permission }}</span>
                &nbsp;
              </span>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

